<div class="container d-flex h-100">
    <div class="row align-items-center justify-content-center mx-auto h-100">
      <div class="col-sm-6">
        <div class="loginbox text-center">
          <h1>NETRIGGER</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <form action="/auth/login" method="POST">
            <div class="form-group login-form">
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
          </form>
          <p class="or">OR</p>
          <button type="submit" class="btn btn-primary btn-lg btn-block facebook-login"><i class="facebook square icon"></i>Login with Facebook</button>
          <div class="password-reset text-center">
              <a href="password_reset">forget password?</a>
          </div>
        </div>
        <div class="right-column-login text-center">
          <p>Have not an account?<a href="/signup"> Signup</a></p>
        </div>
        <% if(loginError.length !== 0) {%>
          <div class="alert alert-danger alert-dismissible mx-auto" role="alert">
            <button type="button" id="alertCloseBtn" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> <%=loginError%>
          </div>
        <% } %>
      </div>
    </div>
</div>
